# pnpm configuration
shamefully-hoist=false
strict-peer-dependencies=false
auto-install-peers=true
public-hoist-pattern[]=*eslint*
public-hoist-pattern[]=*prettier*

# Force installation
prefer-frozen-lockfile=false

